@media all and (max-width:767px){
  .toggleButton {width: 100%;}
  .inputOuterContainer {margin-bottom: 20px;}
  .inputContainer {min-height: 0;height: 278px;}
  .mainContainer .outerMapContainer, .mainContainer.active .outerMapContainer {position: relative;}
  .mainContainer.active .outerMapContainer {-webkit-transform: translateY(-298px); -ms-transform: translateY(-298px); transform: translateY(-298px);}
  .mainContainer.active .inputOuterContainer {-webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);
                                              -webkit-transform: translateY(-298px); -ms-transform: translateY(-298px); transform: translateY(-298px);}
  .toggleButton .glyphicon {-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
  .toggleButton.active .glyphicon {    -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg);}
  .glyphicon-arrow-left:before {left: -2px; position: relative;}
}

@media all and (max-width:480px){
  h1 {font-size: 24px;}
}
