@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  padding:10px;
}

.noPadding {
  padding:0;
}

.mainContainer {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  > div {
    @include transition(all 0.5s ease);
  }
  .outerMapContainer {
    float: right;
    position: absolute;
    right: 0;
  }
  &.active {
    .inputOuterContainer {
      -webkit-transform:translateX(-100%);
      -ms-transform:translateX(-100%);
      transform:translateX(-100%);
    }
    .outerMapContainer {
      position: absolute;
      right:0;
      width: 100%;
    }
  }
}

.mapContainer {
  @include transition(all 0.5s ease);
  border: 10px solid #fff;
  box-shadow: 0 0 5px #ccc;
  opacity:0;
  visibility: hidden;
  &.active {
    opacity:1;
    visibility: visible;
  }
}

.angular-google-map-container {
  height: 400px;
  width: 100%;
}

.inputContainer {
  @include transition(all 0.5s ease);
  border: 10px solid #fff;
  box-shadow: 0 0 5px #ccc;
  min-height: 420px;
}

.toggleButton {
  margin-bottom: 10px;
  .glyphicon {
    @include transition(all 0.5s ease);
  }
  &.active {
    .glyphicon {
      -webkit-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
      transform:rotate(180deg);
    }
  }
}
