<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Web app</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/styles.css">
  <!-- scripts -->
  <script type="text/javascript" src="js/lodash.js"></script> <!-- needed for google maps check http://angular-ui.github.io/angular-google-maps/#!/use -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-simple-logger.js"></script>
  <script type="text/javascript" src="js/angular-google-maps.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/locationService.js"></script>
</head>
<body ng-controller="LocationCtrl">
  <div class="container">
    <div class="row row-lg">
      <!-- location input -->
      <div class="col-sm-4">
        <div class="inputWrapper">
          <form action="">
            <div class="form-group">
              <label for="exampleInputEmail1">Location</label>
              <input type="text" class="form-control" id="location" ng-model="locationVal" placeholder="Enter London Location">
            </div>
            <a class="btn btn-default" href="#" ng-click='findLocation(locationVal)' role="button">Submit</a>
          </form>
        </div>
      </div>
      <div class="col-sm-8">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      </div>
    </div>
  </div>
</body>
</html>
